# ===============================
# Dependencies
# ===============================
node_modules/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Firebase
# ======================s=========
.firebase/
.firebaserc
firebase-debug.log*
firebase-debug.*.log*

# ===============================
# Logs
# ===============================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Runtime / Temp data
# ===============================
pids
*.pid
*.seed
*.pid.lock

# ===============================
# Coverage / Test
# ===============================
coverage
.nyc_output

# ===============================
# Caches
# ===============================
.npm
.eslintcache
.node_repl_history
.grunt
bower_components
.lock-wscript

# ===============================
# Build artifacts
# ===============================
build/Release
lib-cov

# ===============================
# Package output
# ===============================
*.tgz
.yarn-integrity

# ===============================
# OS junk
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Generated / misc
# ===============================
.dataconnect
